/* max-width 1366px */

@media (max-width: 1366px) {
  .container {
    max-width: 1366px;
  }

  .header__nav_item,
  .header__nav_item:nth-child(2),
  .header__nav_item:nth-child(3) {
    margin-right: 40px;
  }

  .about__left_text {
    margin-top: 5px;
    margin-right: 10px;
    margin-left: 10px;
    line-height: 150%;
  }

  .about__left_button {
    margin-right: 10px;
  }

  .container-top_text,
  .container-bottom_text {
    margin-right: 10px;
    line-height: 150%;
  }

  .about__right_text {
    line-height: 150%;
  }

  .container-top_img,
  .container-bottom_img {
    margin-left: 10px;
    margin-right: 0;
  }

  .container-top {
    background-position-x: 10px;
  }

  .container-bottom {
    background-position-x: 10px;
  }

  .form__input {
    width: 400px;
  }

  .form__checkbox_container {
    display: flex;
    flex-direction: column;
  }

  .form__button {
    margin-bottom: 5px;
  }

  .footer__center_title {
    font-size: 40px;
  }

  .footer__left {
    margin-left: 20px;
  }

  .footer__right {
    margin-left: 10px;
    margin-right: 20px;
  }
}

/* max-width 1024px */

@media (max-width: 1024px) {
  .container {
    max-width: 984px;
    padding-right: 30px;
    padding-left: 30px;
  }

  .header__logo {
    margin-left: 50px;
    margin-top: 6px;
    max-width: 150px;
  }
  .header__nav_item {
    margin-right: 59px;
    font-size: 16px;
  }
  .header__nav_item:nth-child(2),
  .header__nav_item:nth-child(3) {
    margin-right: 59px;
  }

  .slider {
    height: 768px;
    background: url("../img/main/slider/slider-1024.png") no-repeat 0 -100px;
    margin-bottom: -38px;
  }

  .slider__title {
    margin-bottom: 8px;
    font-size: 60px;
    padding-top: 164px;
    padding-left: 45px;
    line-height: 73px;
  }

  .slider__text {
    margin-bottom: 108px;
    max-width: 720px;
    padding-left: 45px;
    font-size: 20px;
    line-height: 24px;
  }

  .slider__button {
    margin-left: 45px;
    width: 287px;
  }

  .about {
    margin-bottom: 61px;
  }

  .about__title {
    margin-left: -3px;
    margin-bottom: 23px;
  }

  .about__bottom {
    flex-direction: column;
  }

  .about__bottom_left {
    width: 100%;
    background-position-x: 0;
  }

  .about__bottom_right {
    width: 100%;
    margin-top: 66px;
  }

  .about__text {
    height: 272px;
  }

  .about__left_container {
    min-width: 100%;
    margin-top: 477px;
    height: 173px;
  }

  .about__left_text {
    margin: 39px 45px 42px 45px;
    line-height: 200%;
  }

  .about__left_button {
    margin-right: 50px;
  }

  .about__right_container {
    min-width: 100%;
    height: 295px;
  }

  .about__right_title {
    margin-bottom: 3px;
  }

  .container-top {
    margin-bottom: 40px;
  }

  .container-top_img {
    margin-left: 41px;
    margin-right: 39px;
    margin-top: 6px;
  }

  .container-bottom_img {
    margin-left: 41px;
    margin-right: 38px;
    margin-top: 10px;
  }

  .container-top_text,
  .container-bottom_text {
    margin-right: 50px;
    line-height: 200%;
  }

  .about__right_title {
    margin-top: 0;
  }

  .about__right_text {
    line-height: 200%;
  }

  .works__right {
    margin-top: 7px;
    margin-right: -1px;
    background: url("../img/main/works/works-1024.png");
  }

  .works__title {
    margin-left: -5px;
  }

  .works__right,
  .works__left {
    max-width: 47.4%;
    height: 689px;
  }

  .works__item {
    margin-right: 85px;
    min-width: 51px;
  }
  .works__item:last-child {
    margin-right: 0;
    margin-left: 8px;
    min-width: 54px;
  }

  .works__left_title {
    margin-bottom: 5px;
    margin-top: -7px;
  }

  .works__text {
    margin-bottom: 28px;
    margin-right: 0;
  }

  .button {
    width: 175px;
  }

  .faq {
    margin-top: 61px;
  }

  .faq__title {
    margin-left: -3px;
    padding-bottom: 35px;
  }

  .faq__item {
    margin-left: -3px;
    font-size: 20px;
  }

  .faq__item_text {
    max-width: 778px;
  }

  .faq__item:first-child {
    padding-bottom: 33px;
    padding-top: 40px;
  }

  .faq__item:nth-child(2) {
    padding-bottom: 25px;
    padding-top: 25px;
  }

  .faq__item:nth-child(4) {
    padding-top: 24px;
    padding-bottom: 25px;
  }

  .footer {

    margin-top: 58px;
  }

  .footer__left,
  .footer__right {
    display: none;
  }

  .footer__center {
    margin-right: 29px;
  }

  .footer__center_title {
    margin-top: 61px;
    font-size: 48px;
  }

  .form__input {
    width: 534px;
  }

  .form__checkbox_container {
    flex-direction: row;
  }

  .form__checkbox {
    margin-top: 23px;
  }

  .form__button {
    width: 241px;
  }

  .footer__hidden {
    display: block;
    margin-right: 56px;
  }

  .footer__left_logo {
    margin-bottom: 20px;
  }

  .footer__list_item {
    margin-bottom: 32px !important;
  }

}

/* max-width 992px */

@media (max-width: 992px) {
  .container {
    max-width: 942px;
    padding-right: 30px;
    padding-left: 30px;
  }

  .header__nav_item,
  .header__nav_item:nth-child(2),
  .header__nav_item:nth-child(3) {
    margin-right: 40px;
  }

  .slider__text {
    padding-right: 20px;
    max-width: 100%;
  }

  .about__bottom {
    margin-top: 82px;
  }

  .works__right {
    max-width: 45%;
  }

  .works__left {
    max-width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .list {
    width: 380px;
  }
  

  .works__item {
    margin-right: 55px;
  }

  .works__text {
    margin-bottom: auto;
  }

  .works__title {
    margin-bottom: auto;
  }

  .faq__item_text {
    max-width: 515px;
  }

  .footer__hidden {
    padding-right: 20px;
  }

  .footer__center {
    margin-right: 5px;
    margin-left: 20px;
  }

  .form__input {
    width: 430px;
  }

  .form__checkbox_container {
    flex-direction: column;
  }

  .footer__hidden {
    margin-right: auto;
  }
}

/* @media (max-width: 768px) {
  .container {
    max-width: 668px;
  }
  .header {
    flex-direction: column;
    align-items: center;
    height: 130px;
  }

  .header__logo {
    height: 69px;
    margin: 0 auto;
    margin-top: 10px;
  }

  .header__nav {
    display: flex;
    justify-content: center;
    width: 100%;
    background: rgba(0, 0, 0, 0.1);
  }

  .header__nav_list {
    height: 61px;
    margin-top: 19px;
  }

  .slider__title {
    letter-spacing: 0;
  }

  .slider__text {
    width: 100%;
  }

  .about__left_text {
    margin-top: 5px;
  }

  .container-top_text,
  .container-bottom_text {
    margin-right: 15px;
  }

  .container-top_img,
  .container-bottom_img {
    margin-left: 15px;
  }

  .works__container {
    flex-direction: column-reverse;
  }

  .works__left {
    min-width: 100%;
    height: 477px;
  }

  .works__right {
    min-width: 100%;
    margin-bottom: 38px;
    height: 284px;
    background: url("../img/main/works/works.png");
  }

  .works__text {
    margin-bottom: 10px;
  }

}  */
