@font-face {
  font-family: "Montserrat";
  src: url("./fonts/Montserrat-Regular.ttf") format("ttf");
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-SemiBold.ttf") format("ttf");
  font-display: swap;
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Bold.ttf") format("ttf");
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-ExtraBold.ttf") format("ttf");
  font-display: swap;
  font-weight: 800;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  color: #333;
  background-color: #fff;
}

a {
  text-decoration: none;
  color: #333;
}

img {
  min-width: 100%;
}

ul {
  padding: 0;
  list-style: none;
}

.container {
  max-width: 1770px;
  margin: 0 auto;
}

header {
  display: flex;
  margin: 0 auto;
  max-width: 1920px;
  height: 100px;
  align-items: center;
  background: #ffffff;
  box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
}

.header__logo {
  width: 224px;
  height: 72px;
  margin-left: 70px;
  margin-right: auto;
}

.header__nav_list {
  display: flex;
  /* margin-right: 71px; */
}

.header__nav_item {
  margin-right: 71px;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  /* text-align: center; */
}

.header__nav_search {
  display: block;
  margin-right: 28px;
  width: 25.17px;
  height: 25.62px;
  background-image: url("/img/header/Search.png");
}

.slider {
  margin-bottom: 97px;
  max-width: 100%;
  height: 620px;
  background-image: url("/img/main/slider/slider.png");
}

.slider__title {
  margin: 1px;
  margin-bottom: 32px;
  padding-top: 103px;
  padding-left: 78px;
  width: 841.76px;
  font-weight: 800;
  color: #fff;
  font-size: 70.3742px;
  line-height: 86px;
  /* letter-spacing: 3px; */
}

.slider__text {
  padding-left: 78px;
  margin-bottom: 97px;
  width: 836.73px;
  font-weight: bold;
  font-size: 23.4581px;
  line-height: 29px;
  color: #ffffff;
}

.slider__button {
  padding: 18.571px 37.1419px;
  margin-left: 80.45px;
  width: 280.52px;
  height: 80px;
  background: #ff9900;
  font-weight: bold;
  font-size: 23.4581px;
  line-height: 29px;
  text-align: center;
  color: #ffffff;
  border: none;
}

.title {
  font-weight: normal;
  font-size: 48px;
  line-height: 59px;
}

.about__title {
  margin-bottom: 10px;
}

.text {
  font-weight: normal;
  font-size: 16px;
  line-height: 25px;
}

.about__text {
  max-width: 1235px;
}

.about__text_tooltip {
  display: inline-block;
  margin-right: 3px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #ff9900 url("/img/main/about/about_tooltip.png") no-repeat center
    center;
}

.about__bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 44px;
}

.about__bottom_left {
  width: 870px;
  height: 622px;
  background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(0, 0, 0, 0.31) 100%
    ),
    url("/img/main/about/about_left.png");
}

.about__left_container {
  display: flex;
  margin-right: 30px;
  align-self: center;
  margin-top: 446px;
  width: 870px;
  height: 176px;
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(40px);
}

.about__left_text {
  margin: 44px 76px 42px 54px;
  width: 497px;
  height: 90px;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}

.about__left_button {
  padding: 19px 38px;
  margin: 58px auto;
  margin-right: 68px;
  width: 175px;
  height: 60px;
  border: 3px solid #ff9900;
  box-sizing: border-box;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0);
}

.about__right_container {
  width: 870px;
  height: 295px;
  background: #ffffff;
  border: 1px solid #cacaca;
}

.container-top {
  margin-bottom: 30px;
  background: url('/img/main/about/about_right-top.png') no-repeat 83px center;
}

.container-bottom {
  background: url('/img/main/about/about_right-bottom.png') no-repeat 83px center;
}

.sub_title {
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
}

.about__right_title {
  width: 452px;
  margin-top: 70px;
  margin-bottom: 10px;
  margin-left: 300px;
}

.about__right_text {
  width: 452px;
  height: 156px;
  margin-left: 300px;

}
