@font-face {
  font-family: "Montserrat";
  src: url("./fonts/montserrat-regular-webfont.woff2") format("woff2"),
    url("./fonts/montserrat-regular-webfont.woff") format("woff");
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat-semibold-webfont.woff2") format("woff2"),
    url("./fonts/montserrat-semibold-webfont.woff") format("woff");
  font-display: swap;
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("../montserrat-bold-webfont.woff2") format("woff2"),
    url("./fonts/montserrat-bold-webfont.woff") format("woff");
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat-extrabold-webfont.woff2") format("woff2"),
    url("./fonts/montserrat-extrabold-webfont.woff") format("woff");
  font-display: swap;
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat-black-webfont.woff2") format("woff2"),
    url("./fonts/montserrat-black-webfont.woff") format("woff");
  font-display: swap;
  font-weight: 900;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  color: #333;
  background-color: #fff;
}

a {
  text-decoration: none;
  color: #333;
}

img {
  min-width: 100%;
}

ul {
  padding: 0;
  list-style: none;
}

.container {
  max-width: 1770px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1920px;
  height: 100px;
  align-items: center;
  background: #ffffff;
  box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
}

.header__logo {
  width: 224px;
  height: 72px;
  margin-left: 68px;
  margin-right: auto;
}

.header__nav_list {
  display: flex;
  /* margin-right: 71px; */
}

.header__nav_item {
  margin-right: 71px;
  margin-top: 10px;
  font-weight: 600;
  font-size: 18px;
  /* line-height: 100px; */
  text-align: center;
  letter-spacing: 0.85px;
}

.header__nav_item:first-child {
  width: 55px;
}

.header__nav_item:nth-child(2) {
  width: 87px;
}

.header__nav_item:nth-child(3) {
  width: 114px;
}

.header__nav_item:nth-child(4) {
  width: 77px;
}

.header__nav_item:nth-child(5) {
  width: 92px;
}

.header__nav_search {
  display: block;
  margin-right: 8px;
  margin-top: -6px;
  width: 25.17px;
  height: 25px;
  background: url("../img/header/Search.png") no-repeat;
}

.slider {
  margin-bottom: 97px;
  /* margin-right: 31.5px;
  margin-left: 31.5px; */
  max-width: 100%;
  height: 620px;
  background-image: url("../img/main/slider/slider.png");
}

.slider__title {
  margin: 1px;
  margin-bottom: 17px;
  padding-top: 107px;
  padding-left: 78px;
  width: 900px;
  font-weight: 900;
  color: #fff;
  font-size: 70.3742px;
  line-height: 86px;
  letter-spacing: 5px;
}

.slider__text {
  padding-left: 78px;
  margin-bottom: 95px;
  width: 850px;
  font-weight: bold;
  font-size: 23.4581px;
  line-height: 29px;
  color: #ffffff;
  letter-spacing: 1.1px;
  word-spacing: 1px;
}

.slider__button {
  padding: 18.571px 37.1419px;
  margin-left: 80.45px;
  width: 280.52px;
  height: 80px;
  background: #ff9900;
  font-weight: bold;
  font-size: 23.4581px;
  line-height: 29px;
  text-align: center;
  color: #ffffff;
  border: none;
  letter-spacing: 1.1px;
}

.title {
  font-weight: normal;
  font-size: 48px;
  line-height: 59px;
  letter-spacing: 3.3px;
}

.about {
  margin-bottom: 123px;
}

.about__title {
  margin-bottom: 23px;
}

.text {
  font-weight: normal;
  font-size: 16px;
  line-height: 200%;
  letter-spacing: 1px;
}

.about__text {
  max-width: 1235px;
  height: 192px;
}

.about__text_tooltip {
  display: inline-block;
  margin-right: 3px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #ff9900 url("../img/main/about/about_tooltip.png") no-repeat
    center center;
}

.about__bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 42px;
}

.about__bottom_left {
  width: 870px;
  height: 622px;
  background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(0, 0, 0, 0.31) 100%
    ),
    url("../img/main/about/about_left.png");
}

.about__left_container {
  display: flex;
  margin-right: 30px;
  align-self: center;
  margin-top: 446px;
  width: 870px;
  height: 176px;
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(40px);
}

.about__left_text {
  margin: 40px 76px 42px 54px;
  width: 497px;
  height: 90px;
  font-weight: bold;
  font-size: 16px;
  line-height: 200%;
  color: #ffffff;
  letter-spacing: 1px;
}

.about__left_button {
  padding: 19px 38px;
  margin: 58px auto;
  margin-right: 68px;
  width: 175px;
  height: 60px;
  border: 3px solid #ff9900;
  box-sizing: border-box;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0);
  letter-spacing: 1px;
}

.about__right_container {
  margin-top: 2px;
  width: 870px;
  height: 295px;
  background: #ffffff;
  border: 1px solid #cacaca;
}

.container-top {
  padding-top: 10px;
  margin-bottom: 30px;
  background: url("../img/main/about/about_right-top.png") no-repeat 82px 58px;
}

.container-bottom {
  padding-top: 7px;
  background: url("../img/main/about/about_right-bottom.png") no-repeat 82px 49px;
}

.sub-title {
  font-weight: bold;
  font-size: 24px;
  letter-spacing: 1.4px;
  /* line-height: 29px; */
}

.about__right_title {
  width: 462px;
  margin-top: 60px;
  margin-bottom: 7px;
  margin-left: 300px;
}

.about__right_text {
  width: 452px;
  height: 156px;
  margin-left: 300px;
}

.works__container {
  display: flex;
  justify-content: space-between;
}

.works__left {
  width: 758px;
}

.works__title {
  margin-bottom: 49px;
}

.list {
  display: flex;
  margin-bottom: 47px;
}

.works__item {
  margin-right:89px;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 1px;
}

.item_active {
  margin-right: 87px;
  color: #ff9900;
}

.works__left_title {
  margin-bottom: 7px;
}

.works__text {
  margin-bottom: 60px;
}

.button {
  padding: 19px 38px;
  width: 177px;
  height: 60px;
  background: #ff9900;
  border: none;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  letter-spacing: 1px;
}

.works__button-right {
  margin-left: 26px;
  padding: 19px 39px;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  background: none;
  border: 1px solid #333333;
  box-sizing: border-box;
  letter-spacing: 1px;
}

.works__right {
  margin-top: 186px;
  width: 868px;
  height: 465px;
  background: url("../img/main/works/works.png"), #998a8a;
}

.faq {
  margin-top: 85px;
}

.faq__title {
  border-bottom: 1px solid #cacaca;
  padding-bottom: 38px;
}

.faq__item {
  display: flex;
  justify-content: space-between;
  padding-left: 5px;
  padding-bottom: 33px;
  padding-top: 30px;
  align-items: center;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  border-bottom: 1px solid #cacaca;
  letter-spacing: 1.35px;
}

.faq__item_ellipse {
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: url("../img/main/faq/x.png") no-repeat center #ececec;
}

.footer {
  margin: 0 auto;
  margin-top: 86px;
  max-width: 1920px;
  height: 630px;
  background: #222222;
  /* transform: matrix(0, -1, -1, 0, 0, 0); */
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.footer__left {
  width: 363px;
  margin-left: 68px;
  margin-right: 231px;
}

.footer__left_logo {
  margin-top: 48px;
  margin-bottom: 6px;
  width: 224px;
  height: 72px;
  background: url("../img/footer/footer-logo.png") no-repeat;
}

.footer__left_text {
  margin-bottom: 44px;
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
  color: #cacaca;
  letter-spacing: 1.35px;
}

.footer__left_social {
  display: flex;
}

.social__link {
  display: block;
  margin-right: 25px;
  width: 60px;
  height: 60px;
}

.footer__center {
  width: 570px;
  margin-right: 338px;
}

.footer__center_title {
  margin-top: 57px;
  margin-bottom: 23px;
  padding-left: 7px;
  font-weight: normal;
  font-size: 48px;
  line-height: 59px;
  color: #cacaca;
  letter-spacing: 1.35px;
}

.form__input {
  margin-bottom: 25px;
  margin-left: 8px;
  width: 570px;
  height: 60px;
  background: #414141;
  border: none;
}

.form__input::placeholder {
  padding-left: 24px;
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
  color: #cacaca;
  letter-spacing: 1.35px;
}

.form__textarea {
  margin-bottom: 27px;
  height: 150px;
}

.form__textarea::placeholder {
  padding-top: 14px;
}

.form__button {
  margin-right: 31px;
  margin-left: 8px;
  width: 269px;
}

.form__checkbox {
  width: 14px;
  height: 14px;
  border: 1px solid #cacaca;
  background: none;
}

.form__checkbox_text {
  display: inline;
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
  color: #cacaca;
}

.footer__right_nav {
  width: 317px;
  margin-top: 199px;
  margin-right: 20px;
}

.footer__list_item {
  margin-bottom: 14px;
}

.footer__item_link {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #cacaca;
}
